@font-face {
	font-family: "MontserratRegular";
	src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
	font-family: "MontserratBlack";
	src: url("../fonts/Montserrat/Montserrat-Black.ttf");
}

@font-face {
	font-family: "MontserratBold";
	src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}

@font-face {
	font-family: "FontAwesome";
	src: url("../fonts/FontAwesome/fontawesome-webfont.eot");
}

@font-face {
	font-family: "FontAwesome";
	src: url("../fonts/FontAwesome/fontawesome-webfont.ttf");
}

@font-face {
	font-family: "OpenSansRegular";
	src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}

@font-face {
	font-family: "OpenSansBold";
	src: url("../fonts/Open_Sans/OpenSans-Bold.ttf");
}

@font-face {
	font-family: "MaterialIcons";
	src: url("../fonts/MaterialIcons/MaterialIcons-Regular.ttf");
}


.row {
	max-width: 1560px;
}

.header {
	width: 100%;
	background-color: #3f51b5;
}

.topmenu {
	height: 40px;
	line-height: 40px;
	background-color: #191919;
	vertical-align: middle;
}

.topmenu-content {
	vertical-align: middle;
}

.topmenu i {
	color: #707070;
	opacity: 0.5;
}

.topmenu a {
	margin-right: 15px;
}

.is-dropdown-submenu-parent a:after {
	display: none !important;
}

.topmenu-content section a, .bottom-menu section.btm-lang a {
	font-family: MontserratRegular;
	font-size: 16px;
	text-transform: uppercase;
	color: #8e8e8e;
	padding-right: 0 !important;
	opacity: 0.5;
}

.topmenu-content .is-dropdown-submenu-parent a i, .bottom-menu .is-dropdown-submenu-parent a i {
	padding-left: 5px;
	position: relative;
	top: -4px;
	font-weight: 600;
	margin-left: 0;
	margin-right: 0;
	padding-right: 0;
}

.fa-globe, .fa-user-circle {
	padding-right: 10px;
	opacity: 0.38;
}

.topmenu-content .is-dropdown-submenu-parent li, .bottom-menu .is-dropdown-submenu-parent li {
	padding-right: 0;
}

.topmenu-content ul.dropdown {
	display: inline;
}

.collapse {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.topmenu-content div.separator {
	width: 1px;
	background-color: #bebebe;
	height: 20px;
	opacity: 0.38;
	line-height: 20px;
	margin-top: 10px;
}

.main-menu-content div.separator {
	display: inline;
	width: 1px;
	max-width: 1px;
	overflow: hidden;
	background-color: #bebebe;
	height: 30px;
	opacity: 0.38;
	line-height: 30px;
}

a.signin {
	margin-right: 16px;
}

.bx-viewport {
	border: 0 !important;
	left: 0 !important;
	right: 0 !important;
	box-shadow: none !important;
}

.bx-wrapper {
	margin-bottom: 0 !important;
}

.bx-pager {
	display: none;
}

ul.bxslider {
	margin-left: 0;
	margin-top: 0;
}

ul.bxslider li {
	display: table-cell;
	vertical-align: middle;
}

ul.bxslider img.slide {
	width: 100%;
}

div.overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: rgba(33,33,33, .87);
	text-align: center;
}

ul.bxslider div.overlay div.slider-content {
	padding-top: 15%;
	padding-bottom: 15%;
}

ul.bxslider div.overlay div.slider-content h4 {
	color: #bdbdbe;
	opacity: 0.7;
	text-transform: uppercase;
	font-family: MontserratRegular;
	font-size: 1.75rem;
	margin-bottom: 6px;
	margin-top: -45px;
}

ul.bxslider div.overlay div.slider-content h2 {
	color: #fff;
	opacity: 1;
	text-transform: uppercase;
	font-family: MontserratBlack;
	font-size: 2.625rem;
	margin-bottom: 25px;
}

a.button.readmore {
	font-family: MontserratRegular;
	text-transform: uppercase;
	height: 60px;
	width: 226px;
	font-size: 24px;
	border-radius: 30px;
	padding: 0;
	line-height: 60px;
	vertical-align: middle;
	background-color: #303f9f;
	outline: 0;
}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.avatar {
	margin-top: 60px;
	margin-bottom: 15px;
}

a.avatar {
	font-family: MontserratBold;
	font-size: 0.875rem;
	color: #fff;
}

label.account-info {
	margin-top: 4px;
	font-family: MontserratRegular;
	font-size: 0.75rem;
	color: #fff;
	opacity: .54;
}

a.account-info i {
	color: #fff;
	opacity: .54;
	margin-left: 15px;
	margin-top: 30px
}

a.account-info span {
	font-family: MontserratRegular;
	font-size: 0.75rem;
	color: #fff;
	opacity: .54;
	margin-left: 7px;
	margin-right: 15px;
}

.main-menu {
	width: 100%;;
	position: absolute;
	z-index: 9999;
	height: 80px;
	line-height: 80px;
	vertical-align: middle;
}

a.logo {
	font-family: MontserratBold;
	font-size: 2rem;
	color: #fff;
	text-transform: uppercase;		
}

.main-menu section {
	font-family: MontserratBold;
	font-size: 0.875rem;
	text-transform: uppercase;
	color: #fff;	
	height: 80px;
	vertical-align: middle;
	margin-right: 5px;
}

.main-menu section ul li {
	margin-top: auto;
	margin-bottom: auto;
	height: 80px;
	line-height: 80px;
}

.main-menu section a {
	color: #fff;
	border-bottom: 4px solid transparent;
	outline: 0;
}

.main-menu section li.menu-item a :hover {
	border-bottom: 4px solid #ff4081;
}

.main-menu section i {
	margin-left: 10px;
	position: relative;
	top: -2px;
	font-weight: 600;
	border-bottom: none !important;
}

.main-menu section li.menu-item a span {
	padding-bottom: 20px;
}

.main-menu section ul li.active-item a span {
	border-bottom: 4px solid #ff4081;
}

.sort-bar {
	background-color: #fff;
	width: 100%;
	text-transform: uppercase;
}

.sort-bar-inner {
	height: 80px;
	line-height: 80px;
	vertical-align: middle;

}

.sort-bar-inner p {
	display: inline;
	font-family: MontserratBold;
	font-size: 1rem;
}

a.button.sort-bar-button {
	padding-left: 27px;
	padding-right: 27px;
	display: inline;
	font-family: MontserratRegular;
	text-transform: uppercase;
	color: #000000;
	font-smooth: always;
	height: 40px;
	line-height: 40px;
	font-size: 1rem;
	border-radius: 30px;
	vertical-align: middle;
	background-color: #f5f5f5;
	margin-left: 20px;
	margin-right: -5px;
	border: 2px solid transparent;
	outline: none;
}

a.button.sort-bar-button:hover {
	@extend a.button.sort-bar-button.active;
}

a.button.sort-bar-button.active {
	background-color: #fff;
	color: #3f51b5;
	border: 2px solid #3f51b5;	
}

.main-content {
	background-color: #f5f5f5;
}

.main-content-sep {
	height: 41px;
	background-color: #f5f5f5;
}

.posts-list {
	background-color: #f5f5f5;
}

.nomargin {
	margin: 0 !important;
}

div.media {
	height: auto;
	margin: auto;
	text-align: center;
	position: relative;
	min-width: 300px;
	.imgmedia {
		border-radius: 3px;
		width: 100%;
	}
	.playbtn {
		position: absolute;
		margin: auto;
		top: 43%;
		left: 0;
		right: 0;
		bottom: 0;
		display: inline-block;
		font-size: 3.75rem;
		color: #fff;
	}
	.media-info {
		font-family: MontserratRegular;
		font-size: 1rem;
		display: inline;
		width: 100%;
		position: absolute;
		color: #fff;
		margin: auto;
		top: 100%;
		left: 0;
		right: 0;
		bottom: 0;
		margin-top: -40px;
		padding-left: 27px;
		padding-right: 27px;
		text-transform: uppercase;
		.category {
			float: left;
		}
		section {
			float: right;
		}
		a {
			color: #fff;
			margin-left: 27px;			
		}
	}
}

.min-width-300 {
	min-width: 300px;
}

.padding-right-20 {
	padding-right: 20px;
	background-color: transparent;
}

.transparent {
	background-color: transparent;
	z-index: 2;
}

.post-wrapper {
	margin-bottom: 28px;
	background-color: #fff;
	border-radius: 2px;
	.media-post {
		padding-left: 25px;
		padding-right: 25px;
		h4 {
			font-family: MontserratBold;
			font-size: 1.125rem;
			margin-bottom: 11px;
			margin-top: 17px;
			min-height: 50px;
		}
		p {
			position: relative;
			font-family: OpenSansRegular;
			font-size: 1rem;
			text-align: justify;
		}
	}
	
	hr {
		color: #eeeeee;
		margin: 0;
	}
	
	.author-info {
		padding-left: 25px;
		padding-bottom: 20px;
		padding-top: 20px;
		a.photo {
			float: left;		
		}
		.author-details {
			float: left;
			padding-left: 13px;
		}
		h6 {
			font-family: MontserratRegular;
			font-size: 0.875rem;
			opacity: .87;
			color: #000;
		}
		p {
			font-family: MontserratRegular;
			font-size: 0.75rem;
			opacity: .57;
			color: #212121;		
		}
		a.move-vert {
			float: right;
			color: #000;
			margin-top: 8px;
		}
	}
}

.fade-elipsis:after {
	z-index: 9999;
    content: ".";
    color: transparent;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 400px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255,255,255,1));
}

a.button.more {
	border-radius: 50%;
	background-color: #fff;
}

.morebtn {
	margin-top: 29px;
	margin-bottom: 57px;
	height: 50px;
	font-family: MontserratRegular;
	font-size: 1rem;
	color: #3f51b5;
	a {
		display: table-cell;
		vertical-align: middle;
		color: #3f51b5;
	}
	a:hover, a:visited {
		color: #3f51b5;		
	}
}

.sidebar {
	padding-left: 20px;
	background-color: transparent;
	.sidebar-inner{
		padding-top: 31px;
		padding-left: 43px;
		background-color: #fff;
		border-radius: 3px;
	}
	width: 100%;
	.search {
		height: 60px;
		background-color: #f5f5f5;
		border-radius: 50px;
		margin-bottom: 40px;
		a.button {
			border-radius: 50%;
			background-color: #ff4081;
			float: right;
			margin-right: 7px;
			margin-bottom: 7px;
			margin-top: 7px;
			height: 46px;
			width: 46px;
			padding: 12px;	
		}
		input {
			font-family: OpenSansRegular;
			font-size: 1rem;
			border: none;
			background-color: #f5f5f5;
			color: #000000;
			opacity: .38;
			vertical-align: middle;
			height: 60px;
			margin-left: 27px;
			width: 150px;
		}
	}
	h4 {
		font-family: MontserratBold;
		font-size: 1.125rem;
		color: #3f51b5;
		text-transform: uppercase;
	}
	hr {
		height: 1px;
		color: red;
		background-color: #2962ff;
		border: none;
		opacity: .38;
		margin-top: 10px;
		margin-bottom: 17px;
	}
	ul.categories {
		margin: 0;
		list-style-type: none;
		list-style: none;
		margin-bottom: 62px;
		li {
			list-style-type: none;
			white-space: nowrap;
			span.count {
				float: right;
				font-family: OpenSansBold;
				font-size: 0.875rem;
				color: #000;
				opacity: .87;
			}
			span.title {
				float: left;
				font-family: OpenSansRegular;
				font-size: 0.875rem;
				color: #000;
				opacity: .87;
			}
			hr{
				margin-top: 17px;
				color: #000000;
				background-color: #000000;
				opacity: .1;
			}
		}
	}
	div.input {
		p {
			font-family: OpenSansRegular;
			font-size: 1.125rem;
			opacity: .87;
			color: black;
			margin-top: 15px;
			margin-bottom: 15px;
		}
		input {
			font-family: OpenSansRegular;
			font-size: 1;
			border: 1px solid #eeeeee;
			padding: 21px 23px 17px 23px;
			color: rgba(0,0,0,0.38);
			border-radius: 3px;
			width: 100%
		}
	}
	a.button.subscribe {
		font-family: MontserratRegular;
		color: #fff;
		font-size: 1.5rem;
		background-color: #3f51b5;
		text-transform: uppercase;
		border-radius: 3px;
		width: 100%;
		padding-top: 17px;
		padding-bottom: 17px;
		margin-top: 10px;
		margin-bottom: 0px;
	}
	table.orLine {
		margin: 0;
		td {
			padding: 0px;
		}
		span {
			position: relative;
			top: -1.5px;
			font-family: OpenSansRegular;
			font-size: 1rem;
		}
		hr{
			margin-bottom: 24px;
			margin-top: 24px;
			color: #000000;
			background-color: #000000;
			opacity: .54;
		}
	}
	
	div.sidebar-toggle {
		margin-bottom: 20px;
		a.button {
			width: 50%;
			padding-top: 22px;
			padding-bottom: 22px;
			font-family: MontserratRegular;
			font-size: 1rem;
			text-transform: uppercase;
			background-color: #fff;
			border: 2px solid #3b5999;
			color: #3f51b5;
			padding-left: 10px;
			padding-right: 10px;
			margin-bottom: 0;
		}
		:first-child {
			border-radius: 4px 0px 0px 4px;
		}
		:last-child {
			border-radius: 0px 4px 4px 0px;
		}
		a.button.active {
			background-color: #3b5999;
			color: #fff;
		}
	}
	.sidebar-posts {
		margin-bottom: 61px;
		div.side-post {
			div.picture {
				margin-right: 15px;
			}
			div.content {
				position: relative;
				p.date {
					font-family: MontserratRegular;
					font-size: 0.875rem;
					opacity: .87;
					margin-bottom: 5px;
				}
				a.title h4, a.title:hover h4, a.title:visited h4 {
					font-family: MontserratBold;
					font-size: 1rem;
					color: #000;
					opacity: .87;
					margin-bottom: 0;
				}
				a.comments {
					position: absolute;
					top: 0;
					right: 0;
					i {
						color: #3f51b5;
					}
					span {
						color: #000;
						opacity: 0.3;
					}
				}
			}
		}
		hr{
			margin-bottom: 12px;
			margin-top: 12px;
			color: #000000;
			background-color: #000000;
			opacity: .1;
		}
	}
	div.tags {
		a.button.tag {
			font-family: OpenSansRegular;
			color: #000;
			opacity: 0.87;
			font-size: 0.875rem;
			font-weight: 600;
			background-color: #eee;
			border-radius: 3px;
			padding: 10px 20px 10px 20px;
			margin: 0px 13px 13px 0;
		}
	}
}

div.sidebar-socials {
	margin-bottom: 65px;
	a.button {
		font-size: 1.5rem;
		border-radius: 50%;
		margin-right: 10px;
		width: 42px;
		height: 42px;
		padding: 7px;
		padding-left: 6px;
	}
	#fa-dribbble {
		margin-right: 2px; 
		background-color: #ea4c89;
	}
	#fa-facebook { 
		background-color: #3b5999;
	}
	#fa-twitter { 
		background-color: #55acee;
	}
	#fa-vk { 
		background-color: #4c75a3;
	}
	#fa-pinterest-p { 
		background-color: #ff2e56;
	}
	#fa-tumblr { 
		background-color: #34465d;
	}
}

.sbscrb-section {
	background-image: url('../img/subscribe.jpg');
	background-repeat: no-repeat;
	background-size: 100% 270px;
	height: 270px;
	min-height: 270px;
	line-height: 270px;
	span {
		font-family: MontserratBlack;
		font-size: 2.625rem;
		color: #fff;
		margin-bottom: auto;
		margin-top: auto;
		vertical-align: middle;
	//	line-height: 270px;
		display: inline;
		float: left;
	}
	div.sbscrb {
		margin-bottom: auto;
		margin-top: auto;
		vertical-align: middle;
		//line-height: 270px;
		display: inline;
		float: right;
		input {
			font-family: OpenSansRegular;
			font-size: 1.375rem;
			border: 1px solid rgba(255,255,255,0.54);
			padding: 20px 25px 20px 25px;
			color: rgba(255,255,255,0.54);
			border-radius: 50px;
			width: 360px;
			height: 60px;
			background-color: transparent;
			margin-left: 40px;
			position: relative;
			top: 4px;
		}
		a.button.sbscrb {
			font-family: MontserratRegular;
			color: #fff;
			font-size: 1.5rem;
			background-color: #3f51b5;
			text-transform: uppercase;
			border-radius: 50px;
			padding-top: 17px;
			padding-bottom: 17px;
			width: 227px;
			height: 60px;
			margin-left: 40px;
			position: relative;
			top: 4px;
		}
	}
}

.slick-slider {
	width: 100%;
	overflow: hidden;
	.slick-slide {
		overflow: hidden;
		img {
			overflow: hidden;
		}
	}
}

.hidden {
	display: none;
}

.footer {
	background-color: #212121;
	h4 {
		font-family: MontserratBold;
		font-size: 1.125rem;
		color: #fff;
		margin-top: 67px;
		margin-bottom: 40px;
		text-transform: uppercase;
	}
	li.accordion-item {
		background-color: transparent;
		font-family: OpenSansBold;
		border: 1px solid #757575;
		font-size: 0.875rem;
		text-transform: uppercase;
		border-radius: 3px;
		margin-bottom: 5px;
		.accordion-title {
			color: rgba(255,255,255,0.7);
			border: none;
			background-color: transparent;
		}
		.accordion-title:before {
			font-size: 1.5rem;
			margin-top: -12px;
		}
		.accordion-title:hover, .accordion-title:visited {
			background-color: transparent;
		}
		div.accordion-content{
			background-color: transparent;
			border: none;
			border-top: 1px solid #757575;
			a {
				font-family: OpenSansRegular;
				font-size: 0.875rem;
				color: rgba(255,255,255,0.50);
				text-transform: none;
			}
		}
	}
	div.twitter-item {
		span.title {
			display: inline;
			font-family: OpenSansRegular;
			font-size: 0.9375rem;
			color: #fff;
			opacity: 0.7;
			float: left;
			width: 80%;
			margin-left: 15px;
			
		}
		i.fa-twitter {
			display: inline;
			float: left;
			width: 32px;
			height: 32px;
			font-size: 2rem;
			color: #55acee;
			padding-bottom: 15px;
		}
		div.actions {
				font-family: OpenSansRegular;
				font-size: 0.875rem;
				color: #fff;
				opacity: 0.7;
				a {
					font-family: OpenSansRegular;
					font-size: 0.75rem;
					color: #fff;
					text-decoration: underline;				
				}
		}
	}
	hr.gray {
		margin-top: 18px;
		margin-bottom: 20px;
		color: #fff;
		opacity: .12;
		height: 1px;
	}
	h4.inline {
		margin-top: 41px;
		margin-bottom: 27px;
		font-family: MontserratBold;
		font-size: 1.125rem;
		color: #fff;
		text-transform: uppercase;
	}
	img.flickr {
		width: 100%;
	}
	form.subscribe {
		input, textarea {
			font-family: OpenSansRegular;
			font-size: 1rem;
			background-color: transparent;
			border: 1px solid #757575;
			padding: 21px 23px 17px 23px;
			color: rgba(255,255,255,0.50);
			border-radius: 3px;
			width: 100%;
			margin-bottom: 13px;
		}
		a.button.subscribe {
			font-family: MontserratRegular;
			color: #fff;
			font-size: 1.125rem;
			background-color: #303030;
			text-transform: uppercase;
			border-radius: 3px;
			width: 100%;
			padding-top: 17px;
			padding-bottom: 17px;
			margin-bottom: 0px;
		}	
	}
}

.padding-right-30 {
	padding-right: 30px;
}

.nowrap {
	white-space: nowrap;
}

div.bottom-menu {
	height: 110px;
	background-color: #303030;
	.main-menu, .main-menu-content, .menu-item, section.btm-lang {
		height: 110px;
		line-height: 110px;
		width: auto;
		vertical-align: middle;
	}
	.btm-lang ul.dropdown {
		margin-top: 35px;
	}
	
	.main-menu section {
		font-size: 1rem;
	}
	
	.main-menu section li.menu-item a :hover, .main-menu section li.menu-item a {
		border-bottom: none;
	}
	ul.dropdown {
		a {
			padding-right: 30px;
			padding-left: 30px;
		}
	}
	ul.dropdown:first-child {
		a {
			padding-left: 0px;
		}
	}
	.search {
		margin-right: 90px;
		height: 46.66px;
		line-height: 46.66px;
		background-color: transparent;
		border-radius: 50px;
		border: 1px solid #757575;
		margin-top: 30px;
		vertical-align: middle;
		a.button {
			border-radius: 50%;
			background-color: transparent;
			height: 42px;
			width: 42px;
			padding: 6px;
			margin: -3px 2px 0 0;
			border: none;
		}
		input {
			font-family: OpenSansRegular;
			font-size: 1rem;
			border: none;
			background-color: transparent;
			color: #757575;
			opacity: .38;
			height: 46.66px;
			margin-left: 27px;
			width: 293px;
		}
	}
}