@font-face {
	font-family: "MontserratRegular";
	src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
	font-family: "MontserratBlack";
	src: url("../fonts/Montserrat/Montserrat-Black.ttf");
}

@font-face {
	font-family: "MontserratBold";
	src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}

@font-face {
	font-family: "FontAwesome";
	src: url("../fonts/FontAwesome/fontawesome-webfont.eot");
}

@font-face {
	font-family: "FontAwesome";
	src: url("../fonts/FontAwesome/fontawesome-webfont.ttf");
}

@font-face {
	font-family: "OpenSansRegular";
	src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}

@font-face {
	font-family: "MaterialIcons";
	src: url("../fonts/MaterialIcons/MaterialIcons-Regular.ttf");
}


.row {
	max-width: 1560px;
}

.header {
	width: 100%;
	background-color: #3f51b5;
}

.topmenu {
	height: 40px;
	line-height: 40px;
	background-color: #191919;
	vertical-align: middle;
}

.topmenu-content {
	vertical-align: middle;
}

.topmenu i {
	color: #707070;
	opacity: 0.5;
}

.topmenu a {
	margin-right: 15px;
}

.topmenu-content .is-dropdown-submenu-parent a:after {
	display: none !important;
}

.topmenu-content section a {
	font-family: MontserratRegular;
	font-size: 16px;
	text-transform: uppercase;
	color: #8e8e8e;
	padding-right: 0 !important;
	opacity: 0.5;
}

.topmenu-content .is-dropdown-submenu-parent a i {
	padding-left: 5px;
	position: relative;
	top: -4px;
	font-weight: 600;
	margin-left: 0;
	margin-right: 0;
	padding-right: 0;
}

.fa-globe, .fa-user-circle {
	padding-right: 10px;
	opacity: 0.38;
}

.topmenu-content .is-dropdown-submenu-parent li {
	padding-right: 0;
}

.topmenu-content ul.dropdown {
	display: inline;
}

.collapse {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.topmenu-content div.separator {
	width: 1px;
	background-color: #bebebe;
	height: 20px;
	opacity: 0.38;
	line-height: 20px;
	margin-top: 10px;
}

.main-menu-content div.separator {
	display: inline;
	width: 1px;
	max-width: 1px;
	overflow: hidden;
	background-color: #bebebe;
	height: 30px;
	opacity: 0.38;
	line-height: 30px;
}

a.signin {
	margin-right: 16px;
}

.bx-viewport {
	border: 0 !important;
	left: 0 !important;
	right: 0 !important;
	box-shadow: none !important;
}

.bx-wrapper {
	margin-bottom: 0 !important;
}

.bx-pager {
	display: none;
}

ul.bxslider {
	margin-left: 0;
	margin-top: 0;
}

ul.bxslider li {
	display: table-cell;
	vertical-align: middle;
}

ul.bxslider img.slide {
	width: 100%;
}

div.overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: rgba(33,33,33, .87);
	text-align: center;
}

ul.bxslider div.overlay div.slider-content {
	padding-top: 15%;
	padding-bottom: 15%;
}

ul.bxslider div.overlay div.slider-content h4 {
	color: #bdbdbe;
	opacity: 0.7;
	text-transform: uppercase;
	font-family: MontserratRegular;
	font-size: 1.75rem;
	margin-bottom: 6px;
	margin-top: -45px;
}

ul.bxslider div.overlay div.slider-content h2 {
	color: #fff;
	opacity: 1;
	text-transform: uppercase;
	font-family: MontserratBlack;
	font-size: 2.625rem;
	margin-bottom: 25px;
}

a.button.readmore {
	font-family: MontserratRegular;
	text-transform: uppercase;
	height: 60px;
	width: 226px;
	font-size: 24px;
	border-radius: 30px;
	padding: 0;
	line-height: 60px;
	vertical-align: middle;
	background-color: #303f9f;
	outline: 0;
}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.avatar {
	margin-top: 60px;
	margin-bottom: 15px;
}

a.avatar {
	font-family: MontserratBold;
	font-size: 0.875rem;
	color: #fff;
}

label.account-info {
	margin-top: 4px;
	font-family: MontserratRegular;
	font-size: 0.75rem;
	color: #fff;
	opacity: .54;
}

a.account-info i {
	color: #fff;
	opacity: .54;
	margin-left: 15px;
	margin-top: 30px
}

a.account-info span {
	font-family: MontserratRegular;
	font-size: 0.75rem;
	color: #fff;
	opacity: .54;
	margin-left: 7px;
	margin-right: 15px;
}

.main-menu {
	width: 100%;;
	position: absolute;
	z-index: 9999;
	height: 80px;
	line-height: 80px;
	vertical-align: middle;
}

a.logo {
	font-family: MontserratBold;
	font-size: 2rem;
	color: #fff;
	text-transform: uppercase;		
}

.main-menu section {
	font-family: MontserratBold;
	font-size: 0.875rem;
	text-transform: uppercase;
	color: #fff;	
	height: 80px;
	vertical-align: middle;
	margin-right: 5px;
}

.main-menu section ul li {
	margin-top: auto;
	margin-bottom: auto;
	height: 80px;
	line-height: 80px;
}

.main-menu section a {
	color: #fff;
	border-bottom: 4px solid transparent;
	outline: 0;
}

.main-menu section li.menu-item a :hover {
	border-bottom: 4px solid #ff4081;
}

.main-menu section i {
	margin-left: 10px;
	position: relative;
	top: -2px;
	font-weight: 600;
	border-bottom: none !important;
}

.main-menu section li.menu-item a span {
	padding-bottom: 20px;
}

.main-menu section ul li.active-item a span {
	border-bottom: 4px solid #ff4081;
}

.sort-bar {
	background-color: #fff;
	width: 100%;
	text-transform: uppercase;
}

.sort-bar-inner {
	height: 80px;
	line-height: 80px;
	vertical-align: middle;

}

.sort-bar-inner p {
	display: inline;
	font-family: MontserratBold;
	font-size: 1rem;
}

a.button.sort-bar-button {
	padding-left: 27px;
	padding-right: 27px;
	display: inline;
	font-family: MontserratRegular;
	text-transform: uppercase;
	color: #000000;
	font-smooth: always;
	height: 40px;
	line-height: 40px;
	font-size: 1rem;
	border-radius: 30px;
	vertical-align: middle;
	background-color: #f5f5f5;
	margin-left: 20px;
	margin-right: -5px;
	border: 2px solid transparent;
	outline: none;
}

a.button.sort-bar-button:hover {
	@extend a.button.sort-bar-button.active;
}

a.button.sort-bar-button.active {
	background-color: #fff;
	color: #3f51b5;
	border: 2px solid #3f51b5;	
}

.main-content-sep {
	height: 41px;
	background-color: #f5f5f5;
}

.posts-list {
	background-color: #f5f5f5;
}

.nomargin {
	margin: 0 !important;
}

.post-wrapper {
	margin-bottom: 15px;
	background-color: #fff;
	border-radius: 2px;
}

div.media {
	height: auto;
	margin: auto;
	text-align: center;
	position: relative;
	.imgmedia {
		border-radius: 3px;
		width: 100%;
	}
	.playbtn {
		position: absolute;
		margin: auto;
		top: 43%;
		left: 0;
		right: 0;
		bottom: 0;
		display: inline-block;
		font-size: 3.75rem;
		color: #fff;
	}
	.media-info {
		font-family: MontserratRegular;
		font-size: 1rem;
		display: inline;
		width: 100%;
		position: absolute;
		color: #fff;
		margin: auto;
		top: 92%;
		left: 0;
		right: 0;
		bottom: 0;
		padding-left: 27px;
		padding-right: 27px;
		text-transform: uppercase;
		.category {
			float: left;
		}
		section {
			float: right;
		}
		a {
			color: #fff;
			margin-left: 27px;			
		}
	}
}

.post-wrapper {
	.media-post {
		padding-left: 25px;
		padding-right: 35px;
		h4 {
			font-family: MontserratBold;
			font-size: 1.125rem;
			margin-bottom: 13px;
			margin-top: 18px;	
		}
		p {
			font-family: OpenSansRegular;
			font-size: 1rem;
			text-align: justify;
		}
	}
	
	hr {
		color: #eeeeee;
		margin: 0;
	}
	
	.author-info {
		padding-left: 25px;
		padding-bottom: 25px;
		padding-top: 25px;
		a.photo {
			float: left;		
		}
		.author-details {
			float: left;
			padding-left: 13px;
		}
		h6 {
			font-family: MontserratRegular;
			font-size: 0.875rem;
			opacity: .87;
			color: #000;
		}
		p {
			font-family: MontserratRegular;
			font-size: 0.75rem;
			opacity: .57;
			color: #212121;		
		}
		a.move-vert {
			float: right;
			color: #000;
			margin-top: 8px;
		}
	}
}
