doctype html
html(lang="en", class="no-js")
  head
    title= "SS Test Pasco"
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="assets/css/app.css")
    link(rel="stylesheet", href="assets/css/custom.css")
  body
    #div.row
      h1 Pug - node template engine!!!

