doctype html
html(lang="en", class="no-js")
	head
		title= "SS Test Pasco"
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible", content="ie=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="assets/css/app.css", type="text/css")
		link(rel="stylesheet", href="assets/fonts/FontAwesome/font-awesome.min.css", type="text/css")
		link(rel="stylesheet", href="plugins/jquery.bxslider/jquery.bxslider.css", type="text/css")
		link(rel="stylesheet", href="assets/css/custom.css", type="text/css")
		script(src="bower_components/jquery/dist/jquery.min.js")
		script(src="bower_components/foundation-sites/dist/js/foundation.min.js")
		script(src="plugins/jquery.bxslider/jquery.bxslider.min.js")
		script(src="assets/js/app.js")
		
	body
		div.header
			div.topmenu
				div.topmenu-content.row
					div.lagre-6.medium-6.columns.collapse
						- var socialicons = ['fa-facebook', 'fa-twitter', 'fa-pinterest-p', 'fa-vk', 'fa-google-plus', 'fa-behance', 'fa-dribbble', 'fa-instagram'];
						for icon in socialicons
							a(href='javascript:alert("tbd")')
								i(class='fa ' + icon, aria-hidden='true')
					div.lagre-4.medium-4.columns.collapse
						section.float-right
							ul.dropdown.menu.float-right(data-dropdown-menu)
								li
									a(href='#')
										div(class='fa fa-globe', aria-hidden='true')
										span Eng
										i(class='fa fa-angle-down', aria-hidden='true')
										ul.menu
											li
												a(href='#') Eng
											li
												a(href='#') Rus
							div.separator.float-right
							a.signin.float-right(href='#')
								div(class='fa fa-user-circle', aria-hidden='true')
								span Sign In
			div.main-menu
				div.main-menu-content.row
					div.lagre-12.medium-12.columns.collapse
						a.logo(href='#') Pasco
						section.float-right
							ul.dropdown.menu.float-right(data-dropdown-menu)
								li.menu-item
									a(href='#')
										span Home
										i(class='fa fa-angle-down', aria-hidden='true')
								li.menu-item
									a(href='#')
										span Portfolio
										i(class='fa fa-angle-down', aria-hidden='true')
								li.menu-item
									a(href='#')
										span Blog
										i(class='fa fa-angle-down', aria-hidden='true')
								li.menu-item
									a(href='#')
										span Page
										i(class='fa fa-angle-down', aria-hidden='true')
								li.menu-item
									a(href='#')
										span Shop
										i(class='fa fa-angle-down', aria-hidden='true')
								li.menu-item
									a(href='#')
										span Components
										i(class='fa fa-angle-down', aria-hidden='true')
								li.menu-item
									a(href='#')
										span Features
										i(class='fa fa-angle-down', aria-hidden='true')
								li.actions
									a.float-right(href='#')
										i(class='fa fa-shopping-cart', aria-hidden='true')
									div.separator.float-right
									a.float-right(href='#')
										i(class='fa fa-heart-o', aria-hidden='true')
									div.separator.float-right
									a.float-right(href='#')
										i(class='fa fa-search', aria-hidden='true')
			ul.bxslider
				li
					img.slide(src='assets/img/header_bg.jpg')
					div.overlay
						div.slider-content.row
							div.large-2.medium-2.columms.float-left &nbsp;
							div.large-8.medium-8.columns
								h4 Inspiration
								h2 5 ways milllenials can start building their future today
								a.button.readmore(href='#') Read more
								a(href='#')
									img.center.avatar(src='assets/img/henry_little.png')
								a.avatar(href='#') Henry Little
								label.account-info April 28, 2016&nbsp;&nbsp;10:15
								a.account-info(href='#')
									i.fa.fa-comments(aria-hidden='hidden')
									span Comments (28)
								a.account-info(href='#')
									i.fa.fa-heart-o(aria-hidden='hidden')
									span Likes (07)
							div.large-2.medium-2.columns &nbsp;
				li
					img(src='assets/img/header_bg.jpg')
