mixin twitter-item()
	div.twitter-item
		i.fa.fa-twitter(aria-hidden='true')
		span.title @PASCO, Duis commodo elit sed nisi molestie
		div.clearfix
		div.actions
			span 2 hours ago
			span &nbsp;&nbsp;&nbsp;
			i.fa.fa-long-arrow-right(aria-hidden="true")
			span &nbsp;&nbsp;&nbsp;
			a(href='#') Reply
			span &nbsp;&nbsp;&nbsp;&nbsp;
			a(href='#') Retweet
			span &nbsp;&nbsp;&nbsp;&nbsp;
			a(href='#') Favourite